<div id={{modalId}} class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Manage Saved Searches for {{routeName}}</h4>
      </div>

      <div class="modal-body">
        <table class="table table-fixed table-striped table-striped-margin table-bordered mt-0">
          <col style="width: auto">
          <col style="width: 32px;">
          <thead>
            <tr>
              <td>Name</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {{#if (and savedSearches (gt savedSearches.length 0))}}
              {{#each savedSearches as |savedSearch|}}
                <tr>
                  <td id={{unique-name-helper model='savedSearch' name='name' dbid=savedSearch.id}}>{{savedSearch.name}}</td>
                  <td>
                    <div class="dropdown">
                      <i class="fa fa-cog" data-toggle="dropdown"></i>

                      <ul class="dropdown-menu">
                        <li id={{unique-name-helper model='savedSearch' name='delete' dbid=savedSearch.id}} name="delete" {{action "rename" savedSearch.id}}><a><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Rename</a></li>
                        <li id={{unique-name-helper model='savedSearch' name='delete' dbid=savedSearch.id}} name="delete" {{action "delete" savedSearch.id}}><a><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              {{/each}}
            {{else}}
              <tr>
                <td colspan="2">There are no saved searches to display.</td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button {{action 'close'}} type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{yield}}
