<div class="row multisearch-filter">
  <div class="col-md-2 fixed-multisearch-buttons {{if (eq filterIconPosition 'right') 'pull-right' ''}} ">
    <span class="dropdown pull-{{filterIconPosition}} m{{if (eq filterIconPosition 'left') 'l' 'r'}}-2">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{fa-icon "filter" }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each filters as |filter|}}
        {{multisearch-filter-dropdown-item item=filter}}
        {{/each}}
        <li class="filter-choose-list-item pointer" {{action "clear" true}}>
          <span>Clear filters</span>
        </li>
      </div>
    </span>

    {{#if savedSearchEnabled}}
    <span class="dropdown pull-{{filterIconPosition}} m{{if (eq filterIconPosition 'left') 'l' 'r'}}-2">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{fa-icon "folder" }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li class="filter-choose-list-item pointer" {{action "saveCurrentSearch"}}>
          <span>Save Current Search</span>
        </li>
        {{#if (is-pending savedSearches)}}
        <li role="separator" class="divider"></li>

        <li class="filter-choose-list-item pointer">
          {{fa-icon "spinner" spin=true size=1}} Loading Saved Searches
        </li>
        {{else if (and savedSearches (gt savedSearches.length 0))}}
        <li role="separator" class="divider"></li>

        {{#each savedSearches as |savedSearch|}}
        <li class="filter-choose-list-item pointer" {{action "loadSavedSearch" savedSearch}}>
          <span>{{savedSearch.name}}</span>
        </li>
        {{/each}}

        <li role="separator" class="divider"></li>
        <li class="filter-choose-list-item pointer" {{action "manageSavedSearches"}}>
          <span>Manage Saved Searches</span>
        </li>
        {{/if}}
      </div>
    </span>
    {{/if}}
  </div>
  {{#if (gt filterGrouping.length 0)}}
  <div class="filters-container ">
    {{#each filterGrouping as |filterGroup filterGroupIndex|}}

    {{#if (not (eq filterGroupIndex 0))}}
    <div class="vertical-line"></div>
    {{/if}}
    <div class="filter-group-columns">
      <div class="filter-group-label-container">
        <span class="filter-group-label"> {{filterGroup.label}}:
          {{#if filterGroup.tooltip}}
          {{#twbs-popover placement="bottom" popoverTrigger="focus" as |popover|}}
          {{#popover.trigger}}
          <a id="toggle-popover" class="pointer" href="javascript:void(0)" role="button" tabindex="1">
            <i class="fa fa-info-circle"></i>
          </a>
          {{/popover.trigger}}

          {{#popover.content}}
          <div id="course-info-container">
            <div class="row batch-edit-popover-container">
              <span class="batch-edit-popover-message"> {{filterGroup.tooltip}} </span>
            </div>
          </div>
          {{/popover.content}}
          {{/twbs-popover}}
          {{/if}}
        </span>
      </div>
      <div class="filter-group-container">
        {{#each (filter-by 'hidden' false filterGroup.filters) as |filter index|}}
        {{#if filter.checked}}

        {{#if (eq filter.type 'text')}}
        <div class="icon-addon addon-sm">
          {{input-trim
                        id=(unique-name-helper
                        model="seachFilter"
                        name=filter.searchPlaceHolder
                        dbid=filter.searchTarget)
                        setLastKeyUpValue=(action 'setLastKeyUpValue')
                        key-up=(action "inputKeyUp")
                        enter=(action "changeFilter")
                        on-blur=(action "changeFilter")
                        focus-out=(action "changeFilter")
                        type="text"
                        class="form-control multisearch-grouped-text-input"
                        value=filter.searchVal
                        placeholder=filter.searchPlaceHolder
    
                      }}
          <label for={{title}} class="glyphicon glyphicon-search" rel="tooltip" title={{filter.searchTarget}}></label>
        </div>
        {{else if (eq filter.type 'checkbox')}}
        <div class="checkbox multisearch-checkbox">
          <label>
            {{input id=(unique-name-helper model="seachFilter" name=filter.searchPlaceHolder dbid=filter.searchTarget) type="checkbox" checked=filter.checkboxValue}}
            {{filter.searchPlaceHolder}}
          </label>
        </div>
        {{else if (eq filter.type 'selectCustomAction')}}
        {{log "hey is this even getting here?"}}
        <div class="position-rel">
          {{ember-selectize
              class='multisearch-select'
              content=filter.content
              placeholder=filter.searchPlaceHolder
              optionValuePath=filter.optionValuePath
              optionLabelPath=filter.optionLabelPath
              selection=filter.selectValue
              id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='selectCustomAction')
            }}
        </div>
        {{else if (eq filter.type 'select')}}
        <div class="position-rel">
          {{ember-selectize
                        class='multisearch-select '
                        content=filter.content
                        placeholder=filter.searchPlaceHolder
                        optionValuePath=filter.optionValuePath
                        optionLabelPath=filter.optionLabelPath
                        selection=filter.selectValue
                        id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='select')
                      }}
        </div>
        {{else if (eq filter.type 'multiselect')}}
        <div class="position-rel">
          {{ember-selectize
                        class='multisearch-grouped-text-input '
                        content=filter.content
                        multiple=true
                        placeholder=filter.searchPlaceHolder
                        optionValuePath=filter.optionValuePath
                        optionLabelPath=filter.optionLabelPath
                        selection=filter.multiselectValue
                        add-item=(action 'changeFilter')
                        remove-item=(action 'changeFilter')
                        id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='select')
                      }}
        </div>
        {{else if (eq filter.type 'date')}}
        <div class="multisearch-date-wrapper multisearch-grouped-text-input">
          <div class="pikaday-input-wrapper">
            {{pikaday-input
                            value=filter.dateValue
                            readonly="readonly"
                            placeholder=filter.searchPlaceHolder
                            onSelection=(action (mut filter.dateValue))
                            yearRange="2000,currentYear"
                            format="MM/DD/YYYY"
                            id=(unique-name-helper model='multisearchFilterDate' name=filter.searchPlaceHolder dbid='date')
                        }}

            {{#pikaday-clear-icon targetDate=filter.dateValue icon='fa-times'}}{{/pikaday-clear-icon}}
          </div>
        </div>
        {{/if}}

        {{#if (eq (mod (add index  1) 2) 0 )}}
        <div class="line-break"></div>
        {{/if}}

        {{/if}}
        {{/each}}
      </div>
    </div>

    {{/each}}
  </div>
  {{else }}

  <div class="col-md-10">

    {{#each (filter-by 'hidden' false filters) as |filter|}}
    {{#if filter.checked}}
    <div
      class="col-md-{{if filter.columnSize filter.columnSize columnSize}} {{if (eq filterIconPosition 'right') 'mr-2 col-r' 'ml-2'}} multisearch-control-container">
      {{#if (eq filter.type 'text')}}
      <div class="icon-addon addon-sm">
        {{input-trim
                id=(unique-name-helper
                model="seachFilter"
                name=filter.searchPlaceHolder
                dbid=filter.searchTarget)
                setLastKeyUpValue=(action 'setLastKeyUpValue')
                key-up=(action "inputKeyUp")
                enter=(action "changeFilter")
                on-blur=(action "changeFilter")
                focus-out=(action "changeFilter")
                type="text"
                class="form-control"
                value=filter.searchVal
                placeholder=filter.searchPlaceHolder
              }}
        <label for={{title}} class="glyphicon glyphicon-search" rel="tooltip" title={{filter.searchTarget}}></label>
      </div>
      {{else if (eq filter.type 'checkbox')}}
      <div class="checkbox multisearch-checkbox">
        <label>
          {{input id=(unique-name-helper model="seachFilter" name=filter.searchPlaceHolder dbid=filter.searchTarget) type="checkbox" checked=filter.checkboxValue}}
          {{filter.searchPlaceHolder}}
        </label>
      </div>
      {{else if (eq filter.type 'select')}}
      <div class="position-rel">
        {{ember-selectize
                class='multisearch-select'
                content=filter.content
                placeholder=filter.searchPlaceHolder
                optionValuePath=filter.optionValuePath
                optionLabelPath=filter.optionLabelPath
                selection=filter.selectValue
                id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='select')
              }}
      </div>
      {{else if (eq filter.type 'multiselect')}}
      <div class="position-rel">
        {{ember-selectize
                class='multisearch-multiselect'
                content=filter.content
                multiple=true
                placeholder=filter.searchPlaceHolder
                optionValuePath=filter.optionValuePath
                optionLabelPath=filter.optionLabelPath
                selection=filter.multiselectValue
                add-item=(action 'changeFilter')
                remove-item=(action 'changeFilter')
                id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='select')
              }}
      </div>
      {{else if (eq filter.type 'date')}}
      <div class="multisearch-date-wrapper">
        <div class="pikaday-input-wrapper">
          {{pikaday-input
                    value=filter.dateValue
                    readonly="readonly"
                    placeholder=filter.searchPlaceHolder
                    onSelection=(action (mut filter.dateValue))
                    yearRange="2000,currentYear"
                    format="MM/DD/YYYY"
                    id=(unique-name-helper model='multisearchFilterDate' name=filter.searchPlaceHolder dbid='date')
                }}

          {{#pikaday-clear-icon targetDate=filter.dateValue icon='fa-times'}}{{/pikaday-clear-icon}}
        </div>
      </div>
      {{else if (eq filter.type 'selectCustomAction')}}
      {{log "hey is this even getting"}}
      <div class="position-rel">
        {{ember-selectize
          class='multisearch-select'
          content=filter.content
          placeholder=filter.searchPlaceHolder
          optionValuePath=filter.optionValuePath
          optionLabelPath=filter.optionLabelPath
          selection=filter.selectValue
          id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='selectCustomAction')
        }}
      </div>
      {{/if}}
    </div>
    {{/if}}
    {{/each}}
  </div>
  {{/if}}

</div>

{{#if savedSearchEnabled}}
{{save-search-modal
    modalId='saveSearchModal'
    save=(action 'saveCurrentSearchSuccess')
    cancel=(action 'saveCurrentSearchCancel')
    savedSearch=currentSearch
    savedSearches=savedSearches
  }}

{{manage-saved-searches-modal
    modalId='manageSavedSearchesModal'
    close=(action 'manageSavedSearchesClose')
    delete=(action 'deleteSavedSearch')
    rename=(action 'renameSavedSearch')
    savedSearches=savedSearches
  }}

{{confirm-dialog confirmMessage="Are you sure you would like to delete this saved search?" action='confirmDeleteSavedSearch'}}
{{/if}}

{{yield}}