.row, .col-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.filter-choose-list-item{
  padding-left: 10px;
}
.pointer{
    cursor: pointer;
  }

.col-r {
    float: right !important;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}


.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.multisearch-checkbox {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
  vertical-align: middle;

  > label > input {
    margin-right: 10px !important;
    margin-left: 0 !important;
    position: relative !important;
  }
}


.position-rel {
  position: relative !important;
}

.multisearch-select > .selectize-input {
  font-size: 12px !important;
  height: 34px !important;
  border-color: #CCCCCC !important;
}

.multisearch-multiselect > .selectize-input {
  @extend .multisearch-select;
  height: auto !important;
  min-height: 34px !important;
}


.multisearch-date-wrapper > .pikaday-input-wrapper > input, .multisearch-date-wrapper > .pikaday-input-wrapper > input[readonly] {
  @extend .form-control;
  font-size: 12px;
  background-color: unset;
}

.pikaday-input-wrapper {
  position: relative;
}

.multisearch-date-wrapper > .pikaday-input-wrapper > input, .multisearch-date-wrapper > .pikaday-input-wrapper > input[readonly] {
  @extend .form-control;
  font-size: 12px;
  background-color: unset;
}

.sortable-icon-col {
  display: inline-block;
  vertical-align: middle;
}

.sortable-icon {
  display: flex;
  opacity: 1.0;
  line-height: 1px;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 0.35;
  }
}

.grid-box {
  padding: 15px;
  border-radius: 5px 5px;
  border: 1px dotted #D2D2D2;
  text-align: center;
}
